<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header">
      <h1>DaTech-Bar</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="divInput">
    <h1>Buscar bebida por nome</h1>
    <ion-input
      type="text"
      placeholder="Digite o nome da bebida"
      [(ngModel)]="nome"
    ></ion-input>
    <ion-button id="open-loading" (click)="showDrinkByName()">
      Procurar bebida
    </ion-button>
    <ion-loading
      trigger="open-loading"
      message="Procurando pela bebida '{{ nome }}'"
      duration="2000"
    ></ion-loading>
  </div>

  <div *ngIf="chegou === true">
    <div *ngFor="let bebida of bebidas">
      <ion-card [routerLink]="['/bebida', bebida.idDrink]" class="card">
        <img [src]="bebida.strDrinkThumb" />
        <ion-card-content>
          <ion-card-title [appMostrarNomeCompleto]="bebida.strDrink">{{bebida.strDrink |
            encurtarNomesBebidas | uppercase}}</ion-card-title>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf="chegou === false" class="error">
    <h1>ops...</h1>
    <h2>Infelizmente não encontramos nenhuma bebida com esse nome. Tente outro!</h2>
  </div>
</ion-content>

<ion-tab-bar slot="bottom" class="tabBar">
  <ion-tab-button class="btnTab" [routerLink]="['/cardapio']">Menu</ion-tab-button>
</ion-tab-bar>