.btnTab {
  font-size: 25px;
  color: rgb(255, 255, 255);
  border: 1.5px solid ;
}

.header {
  text-align: center;
  padding: 10px;
  h1 {
    font-weight: 700;
  }
}

.tabBar{
  padding: 10px;
  display: flex;
  gap: 10px;
}

.navMenu{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px 16px 0px 16px;
}
.topic{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #561113;
  padding: 10px;
  border-radius: 12px;
  transition: all 0.2s ease;
  &:hover{
    background-color: rgb(2, 2, 2);
  }
}