.btnTab {
  font-size: 25px;
  color: rgb(255, 255, 255);
  border: 1.5px solid ;
}

.header {
  text-align: center;
  padding: 10px;
  h1 {
    font-weight: 700;
  }
}

.tabBar{
  padding: 10px;
  display: flex;
  gap: 10px;
}