.img {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.list {
  padding: 10px;

}
.title {
  ion-card-title {
    font-size: 1.8rem;
  }
  ion-list {
    font-size: 1.6rem;
  }
}
.header {
  background-color: #561113;
}
