<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bebida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card *ngIf="bebida">
      <img src={{bebida.strDrinkThumb}} alt="">
      <ion-card-header>
        <ion-card-subtitle>{{bebida.strCategory}}</ion-card-subtitle>
        <ion-card-title>{{bebida.strDrink}}</ion-card-title>
      </ion-card-header>
      <h3>Ingredientes: </h3>
      <ion-list>
        <ion-item>
          <ion-label>{{bebida.strIngredient1}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{bebida.strIngredient2}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{bebida.strIngredient3}}</ion-label>
        </ion-item>
        
      </ion-list>
    </ion-card>
  </div>
</ion-content>